#logo {
  content: url("../assets/logo.webp");
  width: 120px;
  height: auto;
  padding-right: 10px;  
}

#pause > img {
  content: url("../assets/pause.webp");
  height: 220px;
  width: 220px;
  top: -22px;
  left: calc(50% - 110px);
}

#pause {
  top: 50%;
  background: none;
}

#pause > figcaption {
  text-shadow: 0px 0px 30px brown;
}

.item-icon {
  border: 0px;
}